body{
    background-color: gray;
}

.contain{
    margin: 120px;
    border: solid 2px darkslategray;
    border-radius: 9px;
    text-align: center;
}

.row{
    margin: 5px;
}

#input1, #input2{
    font-size: 2rem;
    width: 300px;
    height: 25px;
    border-radius: 5px;
}

#result{
    color: royalblue;
    font-size: 2.5rem;
    font: bold;
}

h1{
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 1);
}

h1:hover{
    color: rgba(255, 255, 255, 0.5);

}

#bouton{
    display: none;
    background: rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    font-size: 20px;
    border-radius: 8px;
    position: relative;
    right: -620px;
}

#bouton:hover{
    color: white;
    background: rgba(0, 0, 100, 0.5);
}
